.root {
    composes: root from '../login-page/login-page.module.css';
}

.notFountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.linkContainer {
    composes: linkContainer from '../login-page/login-page.module.css';
}

.link {
    composes: link from '../login-page/login-page.module.css';
}
