.rootWrapper {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.root {
    display: flex;
    gap: 60px;
    margin-top: 120px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    padding: 17px 0;
}

.logoutBtn {
    padding: 17px 0;
    margin-bottom: 80px;
    background: none;
    border: none;
    text-align: left;
}

.logoutBtn:hover {
    cursor: pointer;
}

.activeTab {
    color: white;
}

.note {
    opacity: 0.4;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input {
    composes: input from '../login-page/login-page.module.css';
}
