.ingredientWrapper {
    overflow: hidden;
}

.ingredientCard {
    width: 272px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.ingredientCard:hover {
    cursor: pointer;
}

.ingredientImg {
    margin: 0 16px;
}

.ingredientPrice {
    display: flex;
    margin: 8px 0;
}

.ingredientName {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
